
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
@model ZKH.Blog.Model.PhotoType
<div class="example" data-text="修改相册">
    @using (Ajax.BeginForm("UpdateType", "AdminPhoto", new AjaxOptions() { OnSuccess = "afterUpdate" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" value="@Model.Id" name="Id" />
        <input type="hidden" value="@Model.DelFlag" name="DelFlag" />
        <input type="hidden" value="@Model.SubTime" name="SubTime" />
        <input type="hidden" value="@Model.DelFlag" name="DelFlag" />
        <label>相册名称</label>
            <input class="input-control full-size required" style="border-style:solid" name="Type" value="@Model.Type"/>
            <p id="errormsg"></p>
            <label>描述</label>
            <div class="input-control textarea full-size">
                <textarea name="Remark">@Model.Remark</textarea>
            </div>
            <input class="primary" type="submit" value="确定" />
    }
</div>
<style type="text/css">
    label.error {
        color: red;
    }

    .field-validation-error {
        color: red;
    }
</style>
<script type="text/javascript">
    $(function () {
        $("form").validate({
            messages: {
                Type: { required: "*必填" }
            },
            errorPlacement: function (error, element) {
                error.appendTo($("#errormsg"));
            }
        });
    });
    function afterUpdate(data) {
        var msg = data.split(':');
        alert(msg[1]);
        if (msg[0] === "ok") {
            window.parent.window.gotomain();
        }
    }
</script>