
@{
    ViewBag.Title = "作者";
    var Info = (WebInfo)ViewBag.Info;
    ViewBag.Name = Info.Name;
    var Author = (AdminInfoExt)ViewBag.Author;
}

@using ZKH.Blog.Model

<div class="grid">
    <div class="row cells5">
        <!--左-->
        <div class="cell" style="padding:5px">
            @Html.Partial("_introduce")
            <div class="panel">
                <div class="heading">
                    <span class="title">最新文章</span>
                </div>
                <div class="content padding10">
                    <ul class="simple-list">
                        @foreach (ArticleInfo article in ((List<ArticleInfo>)ViewBag.Articles).Take(8))
                        {
                            <li><a href="/Article/Content/@article.Id" target="_blank">@article.Title</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--中-->
        <div class="cell colspan3">
            <ul class="breadcrumbs2">
                <li><a href="/Home/Index"><span class="icon mif-home"></span></a></li>
                <li><a href="/Home/Author">作者</a></li>
            </ul>
            <div class="example">
                <p><h1 style="font-weight:300">作者</h1></p><hr />
                <div class="grid">
                    <div class="row cells2">
                        <div class="cell">
                            <h4>姓名：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Name</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>性别：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Sex</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>年龄：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Age</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>现居地：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Country @Author.BeAware @Author.City</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>民族：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Folk</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>文化程度：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Kultur</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>职务：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Business</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>毕业学校：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.School</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>主修专业：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Speciality</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>邮箱：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.Email</h4>
                        </div>
                    </div>
                    <div class="row cells2">
                        <div class="cell">
                            <h4>QQ：</h4>
                        </div>
                        <div class="cell">
                            <h4>@Author.QQ</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_advertising")
    </div>
    @Html.Partial("_photowall")
</div>
